curl
xdotool
silversearcher-ag
tree
maim
i3
flameshot
mpv
git
xclip
xorg
autoconf
python3-pip
python3-venv
jq
xinput
ntfs-3g
exfat-fuse
exfat-utils
parted
asciidoc
build-essential
bison
pkg-config
libevent-dev
libncurses-dev
libconfuse-dev
libyajl-dev
libasound2-dev
libiw-dev
libpulse-dev
libnl-genl-3-dev
libx11-dev
libxft-dev
libxtst-dev
libxt-dev
libsm-dev
libxpm-dev
alsa-oss
alsa-utils
xutils-dev
network-manager
apt-file
zathura
